                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div id="footer" role="contentinfo">
            <div id="colophon">
                <div id="footer-widget-area" role="complementary">

                    <div id="first" class="widget-area">
                        <ul class="xoxo">
                            <li id="nav_menu-3" class="widget-container widget_nav_menu">
                                <div class="menu-primary-navigation-container">
                                    <ul id="menu-primary-navigation-1" class="menu">
                                        {%- for link in site.navigation -%}
                                        <li class="menu-item menu-item-type-custom menu-item-object-custom">
                                            <a href="{{ link.url | relative_url }}">{{ link.title }}</a>
                                        </li>
                                        {%- endfor -%}
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div><!-- #first .widget-area -->

                </div><!-- #footer-widget-area -->
            </div><!-- #colophon -->
        </div>

    </div>
</div>